

<header class="video-header container">
    <div class="bg-video">
      <%= video_tag "lightning02.mp4", autoplay: true, loop: true, muted: true%>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Welcome To TechFlash!</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus perferendis necessitatibus numquam amet impedit explicabo? Debitis quasi ullam aperiam!</p>
      <button class="btn btn-lg btn-primary">Find Out More</a>
    </div>
  </header>

  <section class="section" id="services">
    <div class="container-fluid">
      <h2>Services</h2>
      <div class="row">
        <div class="col-md-4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur, nobis quos repellendus nisi earum suscipit laudantium sunt quas quia soluta. Vel animi, aliquid. Esse fuga excepturi, placeat necessitatibus? Amet ad aut dolorem labore fugit aliquam quia eius officiis ratione.</p></div>
        <div class="col-md-4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur, nobis quos repellendus nisi earum suscipit laudantium sunt quas quia soluta. Vel animi, aliquid. Esse fuga excepturi, placeat necessitatibus? Amet ad aut dolorem labore fugit aliquam quia eius officiis ratione.</p></div>
        <div class="col-md-4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur, nobis quos repellendus nisi earum suscipit laudantium sunt quas quia soluta. Vel animi, aliquid. Esse fuga excepturi, placeat necessitatibus? Amet ad aut dolorem labore fugit aliquam quia eius officiis ratione.</p></div>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>

  <section class="section" id="pricing">
    <div class="container">
      <h2>Pricing</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>


  <section class="section" id="team">
    <div class="container">
      <h2>Pricing</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>
